@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints
| Dispositivo          |     Largura |
| -------------------- | ----------: |
| Smartphones pequenos |     0–479px |
| Smartphones grandes  |   480–767px |
| Tablets              |  768–1023px |
| Notebooks            | 1024–1279px |
| Desktops             | 1280–1535px |
| Monitores grandes    |     1536px+ |

 */

 @media screen and (min-width:768px ) {
    nav {
        display: block;
    }

    span#burguer {
        display: none;
    }

    nav > ul > li {
        display: inline-block;
        
    }
 }